%h1.text-center= @user.user_name

- if @user.pictures.any?
  .pictures-wrapper.row
    -@user.pictures.each do |picture|
      .picture.col-sm-12.col-md-4.thumbnail
        .image.center-block= link_to(image_tag(picture.image.url(:thumbnail), class: 'img-responsive', alt: picture.description), picture_path(picture))

        .picture-bottom
          .description
            .description-content
              = picture.description.length > 20 ? "#{picture.description[0,20]}..." : picture.description