- if @pictures.any?
  .pictures-wrapper.row
    -@pictures.each do |picture|
      .picture
        .image.center-block= image_tag picture.image.url(:medium), class:'img-responsive'
        %p.description= picture.description